@model OrderViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>orders</h1>
<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
<thead>
    <tr>
        <th><strong>Orderid</strong></th>
        <th><strong>Price</strong></th>
        <th><strong>ProductName</strong></th>
        <th><strong>Points</strong></th>
        <td><strong>Date</strong></td>
    </tr>

</thead>
        <tbody>
               @foreach(var item in Model.Orders)
                {
                    @foreach(var item1 in item.OrderedProducts)
                    {
                <tr>
                    <td>@item.Id</td>
                    <td>@item1.Price</td>
                    <td>@item1.productName</td>
                    <td>@item1.Points</td>
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                </tr>
                }
                }
        </tbody>
    <tfoot>
        <tr>
            <td><strong>Orderid</strong></td>
            <td><strong>Price</strong></td>
            <td><strong>ProductName</strong></td>
            <td><strong>Points</strong></td>
            <td><strong>Date</strong></td>
        </tr>
    </tfoot>
    </table>
    </div>

     